.git
.mypy_cache
.vs
.vscode

*.pem

Ollama/data/*
!Ollama/data/.gitkeep

Database/mongo/data/*
!Database/mongo/data/.gitkeep
Database/mongo/import/*
!Database/mongo/import/.gitkeep
Database/mongo/logs/*
!Database/mongo/logs/.gitkeep
Database/mongo/mongo.env

Clients/desktop/**/*.suo
Clients/desktop/**/*.user
Clients/desktop/**/*.userosscache
Clients/desktop/**/*.sln.docstates
Clients/desktop/**/*.userprefs
Clients/desktop/**/[Dd]ebug/
Clients/desktop/**/[Dd]ebugPublic/
Clients/desktop/**/[Rr]elease/
Clients/desktop/**/[Rr]eleases/
Clients/desktop/**/x64/
Clients/desktop/**/x86/
Clients/desktop/**/bld/
Clients/desktop/**/[Bb]in/
Clients/desktop/**/[Oo]bj/
Clients/desktop/**/[Ll]og/
Clients/desktop/**/*_p.c
Clients/desktop/**/*_i.h
Clients/desktop/**/*.ilk
Clients/desktop/**/*.meta
Clients/desktop/**/*.obj
Clients/desktop/**/*.iobj
Clients/desktop/**/*.pch
Clients/desktop/**/*.pdb
Clients/desktop/**/*.ipdb
Clients/desktop/**/*.pgc
Clients/desktop/**/*.pgd
Clients/desktop/**/*.rsp
Clients/desktop/**/*.sbr
Clients/desktop/**/*.tlb
Clients/desktop/**/*.tli
Clients/desktop/**/*.tlh
Clients/desktop/**/*.tmp
Clients/desktop/**/*.tmp_proj
Clients/desktop/**/*.log
Clients/desktop/**/*.vspscc
Clients/desktop/**/*.vssscc
Clients/desktop/**/.builds
Clients/desktop/**/*.pidb
Clients/desktop/**/*.svclog
Clients/desktop/**/*.scc

Clients/web/**/node_modules
Clients/web/**/*.log
Clients/web/**/dist
Clients/web/**/.vit
Clients/web/**/stats.html
Clients/web/**/.eslintcache

Server/**/target
Server/**/src/**/application.yml
Server/**/src/**/secrets.yml

Server/services/ai-service/**/__pycache__
Server/services/ai-service/**/ai_service_env/*
