@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    @apply w-6 h-6;
  }
}

@layer components {
  .icon-fill-light {
    @apply fill-neutral-300;
  }
  .icon-stroke-light {
    @apply stroke-neutral-300;
  }
  .icon-fill-dark {
    @apply fill-neutral-700;
  }
  .icon-stroke-dark {
    @apply stroke-neutral-700;
  }

  .bot-reply :is(h1, h2, h3, h4, h5, h6, span, p, strong, em, del, u, sup, sub):not(:is(code.hljs *)) {
    @apply text-neutral-700 dark:text-neutral-100;
  }

  .bot-reply h1 {
    @apply text-4xl;
  }

  bot-reply h2 {
    @apply text-3xl;
  }

  .bot-reply h3 {
    @apply text-3xl;
  }

  .bot-reply h4 {
    @apply text-2xl;
  }

  .bot-reply h5 {
    @apply text-2xl;
  }

  .bot-reply h6 {
    @apply text-xl;
  }

  .bot-reply hr {
    @apply dark:border-neutral-600;
  }

  .bot-reply a {
    @apply text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300 underline decoration-1 underline-offset-4 transition-colors duration-200;
  }

  .bot-reply ol {
    @apply list-decimal list-inside ml-2 text-neutral-700 dark:text-neutral-100;
  }
  .bot-reply ol span {
    @apply ml-[5px];
  }

  .bot-reply ul {
    @apply list-disc list-inside ml-[9px] text-neutral-700 dark:text-neutral-100;
  }
  .bot-reply ul span {
    @apply -ml-[2px];
  }
  .bot-reply ul li {
    @apply marker:text-neutral-700 dark:marker:text-neutral-100;
  }

  .bot-reply pre:has(code) {
    @apply flex flex-col rounded-xl border border-neutral-200 dark:border-neutral-700;
  }
  .bot-reply pre code {
    @apply text-neutral-100 rounded-b-xl font-mono text-sm bg-neutral-950 p-4 overflow-x-auto scrollbar-redesign dark:scrollbar-redesign-dark;
  }
  .bot-reply pre code::-webkit-scrollbar-track,
  .bot-reply pre code::-webkit-scrollbar-thumb {
    @apply rounded-t-none rounded-b-full;
  }

  .bot-reply code:not(:is(pre.hljs code)) {
    @apply px-1 py-0.5 border rounded bg-neutral-700 text-white font-mono text-sm border-neutral-200 dark:border-neutral-700;
  }

  .bot-reply div:has(table) {
    @apply overflow-x-auto max-w-2xl scrollbar-redesign dark:scrollbar-redesign-dark border border-neutral-200 dark:border-neutral-700 rounded-xl my-4 dark:bg-neutral-800;
  }
  .bot-reply div:has(table)::-webkit-scrollbar-track,
  .bot-reply div:has(table)::-webkit-scrollbar-thumb {
    @apply rounded-t-none rounded-b-xl;
  }
  .bot-reply table {
    @apply min-w-full border-collapse text-sm text-neutral-900 dark:text-neutral-100;
  }
  .bot-reply table th,
  .bot-reply table td {
    @apply px-4 py-2 border-b border-neutral-200 dark:border-neutral-700 text-left whitespace-nowrap;
  }
  .bot-reply table tr:last-child th,
  .bot-reply table tr:last-child td {
    @apply border-b-0;
  }
  .bot-reply table tr:first-child td {
    @apply border-t;
  }
  .bot-reply table th {
    @apply bg-neutral-100 text-center text-neutral-700 font-semibold uppercase tracking-wide border-r-[1px] dark:bg-neutral-800 dark:text-neutral-300 dark:border-neutral-600;
  }
  .bot-reply table th:last-child {
    @apply border-r-0;
  }
  .bot-reply table tr {
    @apply hover:bg-neutral-100 dark:hover:bg-zinc-700;
  }
  .bot-reply table td {
    @apply text-neutral-600 dark:text-neutral-400;
  }
}

@layer utilities {
  .scrollbar-redesign::-webkit-scrollbar,
  .scrollbar-redesign-dark::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-redesign::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 4px;
  }
  .scrollbar-redesign::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border-radius: 4px;
  }
  .scrollbar-redesign::-webkit-scrollbar-thumb:hover {
    background: #909090;
  }

  .scrollbar-redesign-dark::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 4px;
  }
  .scrollbar-redesign-dark::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 4px;
  }
  .scrollbar-redesign-dark::-webkit-scrollbar-thumb:hover {
    background: #767676;
  }

  #main-navbar ul:has(li:nth-child(1) .active) ~ .navbar-follow-line {
    left: calc(0 * (var(--nav-button-width) + var(--nav-button-gap)));
  }
  #main-navbar ul:has(li:nth-child(2) .active) ~ .navbar-follow-line {
    left: calc(1 * (var(--nav-button-width) + var(--nav-button-gap)));
  }
  #main-navbar ul:has(li:nth-child(3) .active) ~ .navbar-follow-line {
    left: calc(2 * (var(--nav-button-width) + var(--nav-button-gap)));
  }
  #main-navbar ul:has(li:nth-child(4) .active) ~ .navbar-follow-line {
    left: calc(3 * (var(--nav-button-width) + var(--nav-button-gap)));
  }
}
