spring:
  application:
    name: augmentedcooking

  # config:
  #   import: optional:secrets.yml

  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true
    banner-mode: "off"

  datasource:
    # url: jdbc:mongodb://localhost:27017/Recipes
    # username: postgres
    # password: 123
    # driver-class-name: org.mongodb.Driver
    # initialization-mode: always
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 600000

  # jpa:
  #   hibernate:
  #     ddl-auto: update
  #   show-sql: true
  #   open-in-view: false
  #   database-platform: org.hibernate.dialect.PostgreSQLDialect
  #   properties:
  #     hibernate:
  #       format_sql: true

  server:
    port: 8080

  security:
    user:
      name: {name}
      password: {password}

  data:
    mongodb:
      uri: mongodb://{username}:{password}@{host}:{post}/recipes?authSource=admin
      host: {host}
      port: {port}
      username: {username}
      password: {password}
      database: recipes
      authentication-database: admin

  jackson:
    serialization:
      indent-output: true

jwt:
  access:
    privateKey: {private access pkcs8 prime256v1}
    publicKey: {public_key}

  refresh:
    privateKey: {private refresh pkcs8 secp521r1}
    publicKey: {public_key}

  # access:
  #   privateKey: classpath:secret/ecc-access-private-256.pem
  #   publicKey: classpath:secret/ecc-access-public-256.pem

  # refresh:
  #   privateKey: classpath:secret/ecc-refresh-private-512.pem
  #   publicKey: classpath:secret/ecc-refresh-public-512.pem


# logging:
#   level:
#     org.springframework.security.web: DEBUG
